/* Form container */
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../sources/auth-bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 30px 40px;
  width: 700px;
  height: 700px;
  max-width: 90%;
}

/* Form inputs */
form input {
  /* font-family: "Works Sans", Arial; */
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  text-align: center;
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

form input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(8px);
  border-radius: 50px;
  color: black;
  font-weight: bold;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: opacity 0.3s;
}

form input:focus::placeholder {
  opacity: 0.3;
}

/* Submit button */
form #submitButton {
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease;
  margin-top: 20px;
  text-transform: uppercase;
  max-width: 200px;
}

form #submitButton:hover {
  background: white;
  border: 2px solid white;
  color: #000;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

form #submitButton:active {
  transform: translateY(0);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
}

/* Form text and links */
form p {
  font-weight: bold;
  text-align: left;
  margin: 0px;
  margin-top: 10px;
}

form a {
  color: white;
  font-size: 14px;
}

#formTitle {
  margin-bottom: 0px;
  margin-top: 100px;
  padding-right: 60px;
}

/* Add Movie */
#movieForm {
  background-image: none;
  overflow: auto;
  overflow-x: hidden;
  justify-content: flex-start;
  width: 850px;
  height: 600px;
}

#movieForm h1,
#movieForm p {
  color: #897b74;
}

#movieForm .form-group {
  width: 400px;
}

#formLetterImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: none;
  height: 800px;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 0;
}

#movieForm input {
  font-weight: bold;
}

#movieForm h1 {
  margin: 0px;
  padding-right: 250px;
}

#movieForm textarea {
  width: 400px;
  height: 200px;
  resize: none;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

#movieForm textarea:focus {
  outline: none;
}

#movieForm .checkbox-group {
  display: flex;
  align-items: baseline;
}

#movieForm .checkbox-group input {
  width: fit-content;
  margin-left: 10px;
}
