:root {
  --navbar: #080808;
  --background: #1d1c1d;
  --cardBackground: #ffffff;
  --text: #ffffff;
  --text-secondary: #666666;
  --accent: #0391fc;
  --highlight: #ffd600;
  --lightgray: #e3e3e3;
  --darkgray: #7e7e7e;
}

* {
  font-family: "Helvetica", "Arial", sans-serif;
  color: var(--text);
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: var(--background);
}

nav {
  height: 100px;
  width: 100%;
  background-color: var(--navbar);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 200px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 60px;
}

button {
  padding: 15px;
  background-color: var(--accent);
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}

#logo {
  height: 65px;
  padding-left: 60px;
}

#rating {
  border-radius: 5px;
  background-color: red;
  color: var(--text);
  font-weight: bold;
  padding: 2px 5px;
}

.tag {
  border-radius: 15px;
  background-color: #eeefef;
  color: var(--darkgray) !important;
  padding: 6px;
  font-size: 10px;

  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE/Edge */
}

.movieCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 450px;
  width: 225px;
  background-color: var(--cardBackground);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.movieCard * {
  color: black;
}

.movieCard .movieCardImageContainer {
  max-height: 200px;
  height: 47.5%;
  width: 100%;
  overflow: hidden;
}

.movieCard .movieCardImageContainer img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out, filter 1s ease-in-out;
}

.movieCard .movieCardTitle {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.movieCard .movieCardStats {
  display: flex;
  align-items: center;
  gap: 12px;
}

.movieCard .movieCardTextContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movieCard .movieCardStats span {
  color: grey;
  font-size: 12px;
}

.movieCard .movieCardTextContent {
  max-height: 70px;
  height: 70px;
  overflow-y: auto;
  font-size: 12px;
}

.movieCard .movieCardTextContent p {
  margin: 5px;
}

/* Scroll bar webkit */
.movieCardTextContent::-webkit-scrollbar {
  width: 6px;
}
.movieCardTextContent::-webkit-scrollbar-thumb {
  background-color: var(--lightgray);
  border-radius: 4px;
}
.movieCardTextContent::-webkit-scrollbar-track {
  background: transparent;
}
/* ----------------- */

.movieCard .movieCardTextTags {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 8px;
  padding: 10px 0;
  cursor: grab;
  user-select: none;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.movieCard .movieCardTextTags::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.movieCard .movieCardTextTags:active {
  cursor: grabbing;
}

.movieCard .movieCardTag {
  position: absolute;
  top: 5px;
  z-index: 2;
}

.movieCard .movieCardTag.movieCardRating {
  right: 10px;
  font-size: 12px;
  font-weight: bold;
  color: var(--highlight) !important;
  background-color: black;
}

.movieCard .movieCardFooter {
  display: flex;
  gap: 30px;
  font-size: 12px;
  justify-content: center;
  text-align: center;
}

.movieCard .movieCardFooter .footerTitle {
  color: darkgray;
  margin: 0px;
  white-space: nowrap;
}

.movieCard .movieCardFooter .footerText {
  color: black;
  margin: 3px;
}

.movieCardTag #noMovies {
  position: absolute;
  top: 50%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: var(--navbar);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--text-secondary);
}

.add-button {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 32px;
  cursor: pointer;
  line-height: 45px; /* vertically center the + sign */
  text-align: center;
  color: var(--text);
}

.add-button span {
  color: var(--highlight);
}

.remove {
  font-size: 50px;
  line-height: 50px;
}

.remove span {
  color: red;
}
