#searchInputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
}

#searchInputs div {
  display: flex;
  justify-content: end;
}

#searchInputs input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: border-color 0.3s ease;
  height: fit-content;
}

#searchByName {
  align-items: end;
}

#searchByDate span {
  font-weight: bold;
}

#searchInputs input::placeholder {
  color: rgba(255, 255, 255, 0.75); /* Safari, Chrome, Firefox */
  font-weight: bold;
}

#searchInputs input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75); /* IE */
}

#searchInputs input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75); /* Edge */
}

#searchInputs input:focus {
  outline: none;
  border-bottom: 2px solid #dc2d32;
}

#searchByDate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
